*{
    box-sizing:border-box;
}
body{
    background-color:#fff;font-family:Arial;margin:0 auto;
    margin-bottom:0 auto;
}
.container{
    width:80%;margin: 0 auto;
}
header{
    background-color:#589;padding-top:-10px;padding-bottom:-10px;
    margin-top:0;
}
header .menu-toggle{
    display:none;
}
header:after{
    content: '';display:table;clear:both;
}
h1{
    color:#fff;letter-spacing:1px;float:left;
    font-size:150%;padding-bottom:0;
}
nav{
    float:right;
}
nav ul{
    list-style-type:none;margin:0;
}
nav ul li{
    float:left;
}
nav a{
    color:#fff;text-decoration:none;display:block;
    padding:20px;overflow:auto;
}
nav ul li a:hover{
    background-color:#9a9a9a;
    transition:background-color 1s ease-out;
}
#wrapper{
    margin-left:auto;margin-right:auto;width:30%;
    background-color:#589;color:#fff;
    min-width:550px;max-width:1280px;
    padding-top:40px;padding-bottom:40px;
    border-radius:5px;margin-top:100px;
    margin-bottom:180px;
}
h2{
    text-align:center;letter-spacing:1px;
}
form{
    margin-top:auto;padding-top:2px
}
label{
    display:block;text-align:center;margin-bottom:10px;
    letter-spacing:1px;
}
input[type="text"]{
    display:block;margin-left:auto;margin-right:auto;
    height:25px;width:200px;border-radius:2px;
    letter-spacing:1px;
}
input[type="password"]{
    display:block;margin-left:auto;margin-right:auto;
    height:25px;width:200px;border-radius:2px;
    letter-spacing:1px;
}
input[type="email"]{
    display:block;margin-left:auto;margin-right:auto;
    height:25px;width:200px;border-radius:2px;
    letter-spacing:1px;
}
input[type="checkbox"]{
    display:block;margin-left:auto;margin-right:auto;
    letter-spacing:1px;
}
label .check{
    display:inline;
}
button[type="submit"]{
    display:block;width:160px;height:35px;
    margin-left:auto;margin-right:auto;border-radius:2px;
    border:none;margin-top:15px;letter-spacing:1px;color:#000;
}
button[type="reset"]{
    display:block;width:160px;height:35px;
    margin-left:auto;margin-right:auto;border-radius:2px;
    border:none;margin-top:15px;letter-spacing:1px;
}
button[type="submit"]:hover{
    background-color:#9a9a9a;transition:background-color 1s ease-out;
}
button[type="reset"]:hover{
    background-color:#9a9a9a;transition:background-color 1s ease-out;
}
footer{
    background-color:#589;color:#fff;padding-bottom:24px;
    overflow:auto;margin-top:160px;margin-bottom:0;
}