@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');

*{
    margin:0;padding:0;
    box-sizing:border-box;
    font-family:'Baloo Thambi 2', sans-serif;
}

body{
    background:#fb9a39;
}

.wrapper{
    position:absolute;
    top:50%;left:50%;
    transform:translate(-50%, -50%);    /* translate helps further position wrapper */
    background:#fbb04d;
    width:350px;border-radius:20px;
    padding:25px;                       /* gives padding to elements inside of wrapper */
}

.wrapper .social_media_wrap{
    background:#fff;
    border-radius:20px;
    padding:25px;
    box-shadow:0 0 2px rgba(0, 0, 0, 0.125);
}

.social_media_wrap .item{
    display:flex;
    justify-content:space-between;      /* puts spacing between content and checkbox */
    align-items:center;                 /* keeps all content centered inside wrap */
    margin-bottom:20px;                 /* adjust margin below LinkedIn content */
}

.social_media_wrap .item:last-child{
    margin-bottom:0;
}

.social_media_wrap .item .item_left{
    display:flex;
    align-items:center;
}

.item .item_left .media_box{           /* media box is div around social media symbol */
    width:50px;height:50px;
    border-radius:10px;                 /* create a curved border around box */
    border:1px solid #d5d6d8;
    color:#d6d6d8;
    position:relative;
    margin-right:10px;
}

.item .item_left .media_box .fab{       /* fab is the class for i elements or icons */
    position:absolute;  
    top:50%;left:50%;
    transform:translate(-50%, -50%);
}

.item .item_left .media_text{
    color:#d6d6d8;
}

.item .item_right .checkbox{        /* primary design is on item right div */
    width:65px;height:35px;         /* resize the div  */
    position:relative;
    appearance:none;
    -webkit-appearance:none;
    background:#f0f0f0;
    outline:none;                   /* removes item_right div outline */
    border-radius:25px;             /* creates curved border around item right div for slider design */
    cursor:pointer;
}

.item .item_right .checkbox:before{
    content:"";
    position:absolute;
    top:4px;left:5px;
    width:28px;height:28px;
    background:#f0f0f0;
    box-shadow:0 0 2px rgba(0, 0, 0, 0.35);
    border-radius:50%;              /* rounds the edges of the checkbox to create a circle */
    transition:all 0.2s ease;
}

.item .item_right .checkbox:checked:before{
    left:32px;
    background:#fbb04d;
}

.item.facebook.active .media_box{
    color:#fff;
    background:#3b5999;
    border-color:#3b5999;
}

.item.facebook.active .media_text{
    color:#3b5999;
}

.item.twitter.active .media_box{
    color:#fff;
    background:#55acee;
    border-color:#55acee;
}

.item.twitter.active .media_text{
    color:#55acee;
}

.item.instagram.active .media_box{
    color:#fff;
    background:#e4405f;
    border-color:#e4405f;
}

.item.instagram.active .media_text{
    color:#e4405f;
}

.item.linkedin.active .media_box{
    color:#fff;
    background:#0077b5;
    border-color:#0077b5;
}

.item.linkedin.active .media_text{
    color:#0077b5;
}